<!doctype html>
<html lang="en">
  <head>
    {{template "general/header"}}
  </head>
  <body class="bg-gray-50">
    <!-- header section -->
    <header
      class="sticky top-0 z-10 border-b border-tertiary bg-white lg:ml-64"
    >
      <div class="container">
        <!-- main navbar -->
        <nav class="flex items-center justify-between py-6">
          <!-- sidebar toggle -->
          <div class="flex lg:hidden">
            <button
              id="sidebar-toggle"
              type="button"
              class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-light"
              data-hs-overlay="#sidebar"
              aria-controls="sidebar"
              aria-label="Toggle Sidebar"
            >
              <span class="sr-only">Open Sidebar</span>
              <svg
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                />
              </svg>
            </button>
          </div>
          <!-- end of sidebar toggle -->

          <!-- search bar -->
          <div class="relative">
            <div
              class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-4"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-4 w-4 text-light"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                />
              </svg>
            </div>
            <input
              type="text"
              class="block w-full rounded-md border-0 py-1.5 pl-11 font-poppins text-sm text-light shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-light focus:ring-2 focus:ring-inset focus:ring-primary"
              placeholder="Cari..."
            />
          </div>
          <!-- search bar -->

          <!-- profile dropdown -->
          <div class="hs-dropdown relative [--placement:bottom-right]">
            <div>
              <button
                id="user-menu-button"
                type="button"
                class="hs-dropdown-toggle relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                aria-expanded="false"
                aria-haspopup="true"
              >
                <span class="absolute -inset-1.5"></span>
                <span class="sr-only">Open user menu</span>
                <img
                  class="h-8 w-8 rounded-full"
                  src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                  alt=""
                />
              </button>
            </div>

            <div
              class="hs-dropdown-menu duration absolute z-20 mt-2 hidden min-w-[15rem] rounded-md bg-white py-1 opacity-0 shadow-lg ring-1 ring-black ring-opacity-5 transition-[opacity,margin] focus:outline-none hs-dropdown-open:opacity-100"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="user-menu-button"
              tabindex="-1"
            >
              <div class="-mt-1 rounded-t-md bg-gray-50">
                <p class="block px-4 pt-2 font-poppins text-sm text-dark">
                  Masuk sebagai
                </p>
                <p class="block px-4 pb-2 font-poppins text-sm text-dark">
                  {{.fullname}}
                </p>
              </div>
              <a
                href="#"
                class="block px-4 py-2 font-poppins text-sm text-dark hover:bg-gray-100"
                role="menuitem"
                tabindex="-1"
                id="user-menu-item-0"
                >Profil</a
              >
              <a
                href="#"
                class="block px-4 py-2 font-poppins text-sm text-dark hover:bg-gray-100"
                role="menuitem"
                tabindex="-1"
                id="user-menu-item-1"
                >Pengaturan</a
              >
              <a
                href="/client/logout"
                class="-mb-1 block rounded-b-md px-4 py-2 font-poppins text-sm text-dark hover:bg-gray-100"
                role="menuitem"
                tabindex="-1"
                id="user-menu-item-2"
                >Keluar</a
              >
            </div>
          </div>
          <!-- end of profile dropdown -->
        </nav>
        <!-- end of main navbar -->
      </div>
    </header>
    <!-- end of header section -->

    <!-- sidebar -->
    <aside
      id="sidebar"
      class="hs-overlay fixed bottom-0 left-0 top-0 z-[60] hidden w-72 -translate-x-full transform overflow-y-auto border-r border-tertiary bg-white p-6 transition-all duration-300 hs-overlay-open:translate-x-0 lg:bottom-0 lg:right-auto lg:z-50 lg:block lg:w-64 lg:translate-x-0"
    >
      <!-- application logo -->
      <a
        href="/client/dashboard"
        class="-m-1.5 flex items-center gap-x-3 p-1.5"
      >
        <img
          class="h-8 w-auto"
          src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
          alt="Tailwind CSS Logo"
        />
        <span class="font-poppins font-bold">Task Tracker Plus</span>
      </a>
      <!-- end of application logo -->

      <!-- sidebar menu -->
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-tertiary">
          <div class="space-y-2 py-6">
            <a
              href="/client/dashboard"
              class="-mx-3 flex items-center gap-x-3 rounded-lg px-3 py-2 font-poppins font-medium text-dark hover:bg-gray-100"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-5 w-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
                />
              </svg>
              Dashboard
            </a>
            <a
              href="/client/task"
              class="-mx-3 flex items-center gap-x-3 rounded-lg px-3 py-2 font-poppins font-medium text-dark hover:bg-gray-100"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-5 w-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 01-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 011.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 00-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 01-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 00-3.375-3.375h-1.5a1.125 1.125 0 01-1.125-1.125v-1.5a3.375 3.375 0 00-3.375-3.375H9.75"
                />
              </svg>
              Tugas
            </a>
            <a
              href="/client/category"
              class="-mx-3 flex items-center gap-x-3 rounded-lg px-3 py-2 font-poppins font-medium text-dark hover:bg-gray-100"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-5 w-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 6.878V6a2.25 2.25 0 012.25-2.25h7.5A2.25 2.25 0 0118 6v.878m-12 0c.235-.083.487-.128.75-.128h10.5c.263 0 .515.045.75.128m-12 0A2.25 2.25 0 004.5 9v.878m13.5-3A2.25 2.25 0 0119.5 9v.878m0 0a2.246 2.246 0 00-.75-.128H5.25c-.263 0-.515.045-.75.128m15 0A2.25 2.25 0 0121 12v6a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 18v-6c0-.98.626-1.813 1.5-2.122"
                />
              </svg>
              Kategori
            </a>
          </div>
        </div>
      </div>
      <!-- end of sidebar menu -->
    </aside>
    <!-- end of sidebar -->

    <!-- main content -->
    <main class="my-6 lg:ml-64">
      {{if eq .status_resp "success"}}
      <!-- alert -->
      <div
        id="dismiss-alert"
        class="fixed left-1/2 top-6 z-[60] w-full max-w-sm -translate-x-1/2 rounded-lg border border-teal-200 bg-teal-50 p-4 text-sm text-teal-800 transition duration-300 hs-removing:translate-x-5 hs-removing:opacity-0 md:-translate-x-0"
        role="alert"
      >
        <div class="flex items-center gap-x-4">
          <div class="flex-shrink-0 text-primary">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-6 w-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </div>

          <div class="ms-2">
            <div class="font-poppins text-sm font-medium">{{.message}}</div>
          </div>

          <div class="ms-auto ps-3">
            <div class="-mx-1.5 -my-1.5">
              <button
                type="button"
                class="inline-flex rounded-lg bg-teal-50 p-1.5 text-teal-500 hover:bg-teal-100 focus:outline-none focus:ring-2 focus:ring-teal-600 focus:ring-offset-2 focus:ring-offset-teal-50"
                data-hs-remove-element="#dismiss-alert"
              >
                <span class="sr-only">Dismiss</span>
                <svg
                  class="h-4 w-4 flex-shrink-0"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="M18 6 6 18" />
                  <path d="m6 6 12 12" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- end of alert -->
      {{else if eq .status "error"}}
      <div
        id="dismiss-alert"
        class="fixed left-1/2 top-6 z-[60] w-full max-w-sm -translate-x-1/2 rounded-lg border border-teal-200 bg-teal-50 p-4 text-sm text-teal-800 transition duration-300 hs-removing:translate-x-5 hs-removing:opacity-0 md:-translate-x-0"
        role="alert"
      >
        <div class="flex items-center gap-x-4">
          <div class="flex-shrink-0 text-primary">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-6 w-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </div>

          <div class="ms-2">
            <div class="font-poppins text-sm font-medium">{{.message}}</div>
          </div>

          <div class="ms-auto ps-3">
            <div class="-mx-1.5 -my-1.5">
              <button
                type="button"
                class="inline-flex rounded-lg bg-teal-50 p-1.5 text-teal-500 hover:bg-teal-100 focus:outline-none focus:ring-2 focus:ring-teal-600 focus:ring-offset-2 focus:ring-offset-teal-50"
                data-hs-remove-element="#dismiss-alert"
              >
                <span class="sr-only">Dismiss</span>
                <svg
                  class="h-4 w-4 flex-shrink-0"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="M18 6 6 18" />
                  <path d="m6 6 12 12" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      {{end}}

      <div class="container">
        <form
          action="/client/task/task-update/{{.task_id}}/process"
          method="post"
          class="rounded-lg border bg-white p-4 shadow-sm"
        >
          <div class="space-y-12">
            <div class="border-b border-tertiary pb-12">
              <h2
                class="font-poppins text-base font-semibold leading-7 text-dark"
              >
                Detail Tugas
              </h2>
              <p class="mt-1 font-poppins text-sm leading-6 text-light">
                Informasi detail dari tugas kamu akan ditampilkan di sini, isi
                formulir dengan apabila ingin mengubah detailnya.
              </p>

              <div
                class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6"
              >
                <div class="sm:col-span-3">
                  <label
                    for="title"
                    class="font-poppins text-sm font-medium leading-6 text-dark"
                    >Judul Tugas</label
                  >
                  <div class="mt-2">
                    <input
                      name="title"
                      id="title"
                      type="text"
                      class="block w-full rounded-md border-0 py-1.5 font-poppins text-sm leading-6 text-dark shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-light focus:ring-2 focus:ring-inset focus:ring-indigo-600"
                      value="{{.title}}"
                    />
                  </div>
                </div>

                <div class="col-span-full">
                  <label
                    for="description"
                    class="font-poppins text-sm font-medium leading-6 text-dark"
                    >Deskripsi</label
                  >
                  <div class="mt-2">
                    <input
                      id="description"
                      name="description"
                      type="text"
                      class="block w-full rounded-md border-0 py-1.5 font-poppins text-sm text-dark shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-light focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:leading-6"
                      value="{{.description}}"
                    />
                  </div>
                </div>

                <div class="sm:col-span-3">
                  <label
                    for="status"
                    class="font-poppins text-sm font-medium leading-6 text-dark"
                    >Status</label
                  >
                  <div class="mt-2">
                    <select
                      name="status"
                      id="status"
                      class="block w-full rounded-md border-0 py-1.5 font-poppins text-sm leading-6 text-dark shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-light focus:ring-2 focus:ring-inset focus:ring-indigo-600"
                    >
                      {{if eq .status "Active"}}
                      <option value="Active" selected>Tugas baru</option>
                      <option value="On Going">Sedang dikerjakan</option>
                      <option value="Completed">Selesai</option>
                      {{else if eq .status "On Going"}}
                      <option value="Active">Tugas baru</option>
                      <option value="On Going" selected>
                        Sedang dikerjakan
                      </option>
                      <option value="Completed">Selesai</option>
                      {{else if eq .status "Completed"}}
                      <option value="Active">Tugas baru</option>
                      <option value="On Going">Sedang dikerjakan</option>
                      <option value="Completed" selected>Selesai</option>
                      {{end}}
                    </select>
                  </div>
                </div>

                <div class="sm:col-span-3">
                  <label
                    for="category"
                    class="font-poppins text-sm font-medium leading-6 text-dark"
                    >Kategori</label
                  >
                  <div class="mt-2">
                    <select
                      name="category"
                      id="category"
                      class="block w-full rounded-md border-0 py-1.5 font-poppins text-sm leading-6 text-dark shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-light focus:ring-2 focus:ring-inset focus:ring-indigo-600"
                    >
                      <option value="" selected>Pilih Kategori</option>
                      {{range $key, $val := .user_categories}}
                      <option value="{{$val.ID}}">{{$val.Name}}</option>
                      {{end}}
                    </select>
                  </div>
                </div>

                <div class="sm:col-span-3">
                  <label
                    for="created_at"
                    class="font-poppins text-sm font-medium leading-6 text-dark"
                    >Dibuat</label
                  >
                  <div class="mt-2">
                    <input
                      name="created_at"
                      id="created_at"
                      type="datetime-local"
                      class="block w-full rounded-md border-0 py-1.5 font-poppins text-sm leading-6 text-dark shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-light focus:ring-2 focus:ring-inset focus:ring-indigo-600"
                      disabled
                      value="{{.created_at | formatTime}}"
                    />
                  </div>
                </div>

                <div class="sm:col-span-3">
                  <label
                    for="deadline"
                    class="font-poppins text-sm font-medium leading-6 text-dark"
                    >Batas Waktu</label
                  >
                  <div class="mt-2">
                    <input
                      name="deadline"
                      id="deadline"
                      type="datetime-local"
                      class="block w-full rounded-md border-0 py-1.5 font-poppins text-sm leading-6 text-dark shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-light focus:ring-2 focus:ring-inset focus:ring-indigo-600"
                      value="{{.deadline | formatTime}}"
                    />
                  </div>
                </div>

                <div class="col-span-full">
                  <label
                    for="priority"
                    class="font-poppins text-sm font-medium leading-6 text-dark"
                    >Prioritas</label
                  >
                  <div class="mt-2">
                    <select
                      name="priority"
                      id="priority"
                      class="block w-full rounded-md border-0 py-1.5 font-poppins text-sm leading-6 text-dark shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-light focus:ring-2 focus:ring-inset focus:ring-indigo-600"
                    >
                      {{if eq .priority_id 1}}
                      <option value="1" selected>Tinggi</option>
                      <option value="2">Sedang</option>
                      <option value="3">Rendah</option>
                      {{else if eq .priority_id 2}}
                      <option value="1">Tinggi</option>
                      <option value="2" selected>Sedang</option>
                      <option value="3">Rendah</option>
                      {{else if eq .priority_id 3}}
                      <option value="1">Tinggi</option>
                      <option value="2">Sedang</option>
                      <option value="3" selected>Rendah</option>
                      {{end}}
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="flex items-center justify-end gap-x-6 border-t pt-3">
            <button
              type="reset"
              class="font-poppins text-sm font-semibold leading-6 text-dark hover:text-light"
            >
              Batal
            </button>
            <button
              type="submit"
              class="flex justify-center rounded-md bg-primary px-3 py-1.5 font-poppins text-sm font-semibold tracking-wide text-white shadow-sm hover:bg-secondary"
            >
              Simpan
            </button>
          </div>
        </form>
      </div>
    </main>
    <!-- end of main content -->
  </body>
</html>
